* {
  margin: 0;
  padding: 0;
}

html {
  height: 2000px;
}

.fixed, .fixed2 {
  color: red;
  background: green;
  padding: 1em;
}

.moveable, .moveable2 {
  color: blue;
  background: yellow;
  padding: 1em;
}

.container, .container2 {
  height: 400px;
}

.container:nth-child(2), .container2:nth-child(2) {
  background: #444;
}

section {
  float: left;
  width: 50%;
}
