*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif

h1
  color: white
  text-align: center
  line-height: 380px

.container, .container2
  height: 400px
  padding: 1em

nav
  right: 1em
  a
    float: left

a
  padding: 1em
  text-decoration: none

.bg-black
  background: #333
  a
    background: white
    color: #333

.bg-red
  background: red
  a
    background: darken(red, 30%)
    color: white

.bg-orange
  background: orange
  a
    background: darken(orange, 30%)
    color: white

.bg-yellow
  background: yellow
  a
    background: darken(yellow, 30%)
    color: white

.bg-blue
  background: blue
  a
    background: darken(blue, 30%)
    color: white
