* {
  margin: 0;
  padding: 0;
}

html {
  height: 2000px;
}

.fixed4 {
  color: red;
  background: green;
  padding: 1em;
}

.mover {
  color: blue;
  background: yellow;
  padding: 1em;
}

.container2 {
  height: 400px;
}

.container2:nth-child(2) {
  background: #444;
}
